<div class="content-box">
  <h2>Statuses</h2>
  <ol class="statuses">
    <% statuses.each do |status| %>
      <li>
        <%= gravatar_image_tag(status.user.email, alt: status.user.full_name, class: "avatar") %>
        <div class="status">
          <%= link_to profile_path(status.user.screen_name), class: 'user' do %>
            <span class="full-name"><%= status.user.full_name %></span>
            <span class="screen-name">@<%= status.user.screen_name %></span>
          <% end %>
          <time><%= time_ago_in_words(status.created_at) %> ago</time>
          <p class="status-text"><%= make_links(status.text, status.mentioned_users).html_safe %></p>
          <% if status.reply_user %>
            <em>In reply to <%= link_to  "@#{status.reply_user.screen_name}", profile_path(status.reply_user.screen_name) %></em>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</div>