<div class="content-box">
  <h2>New Status</h2>

  <div class="inner">
    <%= render "shared/errors", record: @status %>
    <%= form_for @status do |f| %>
      <div class="field">
        <%= f.label :text, "New Status" %>
        <%= f.text_area :text %>
      </div>
      
      <%= f.submit "Submit", :class => "button" %>
    <% end %>
  </div>
</div>

