<div class="profile-header content-box">
  <div class="user-info">
    <%= gravatar_image_tag(@user.email, alt: @user.full_name, class: "avatar") %>
    <h1 class="full-name"><%= @user.full_name %></h2>
    <h2 class="screen-name">@<%= @user.screen_name %></h3>
  </div>

  <ul class="stats">
    <li>
      <a href="#">
        <strong><%= @user.statuses.count %></strong> Statuses
      </a>
    </li>

    <li>
      <a href="#">
        <strong>50</strong> Following
      </a>
    </li>

    <li>
      <a href="#">
        <strong>300</strong> Followers
      </a>
    </li>
  </ul>

  <a href="#" class="follow-button button">Follow</a>
</div>

<%= render "statuses/list", statuses: @user.statuses %>