<div class="profile-header content-box">
  <div class="user-info">
    <%= gravatar_image_tag(@user.email, alt: @user.full_name, class: "avatar") %>
    <h1 class="full-name"><%= @user.full_name %></h2>
    <h2 class="screen-name">@<%= @user.screen_name %></h3>
  </div>

  <ul class="stats">
    <li>
      <a href="#">
        <strong><%= @user.statuses.count %></strong> Statuses
      </a>
    </li>

    <li>
      <a href="#">
        <strong><%= @user.followed_users.count %></strong> Following
      </a>
    </li>

    <li>
      <a href="#">
        <strong><%= @user.follower_users.count %></strong> Followers
      </a>
    </li>
    <li>
      <a href="#">
        <% if @user.follower_ratio != nil %>
          <strong><%= @user.follower_ratio %></strong> Follower Ratio
        <% else %>
          <strong>No Follower Ratio</strong>
        <% end %>
      </a>
    </li>
  </ul>

  <% if !logged_in? %>
    <%= link_to "Sign in to follow", new_session_path, class: "follow-button button" %>
  <% elsif current_user != @user %>
    <% if current_user.following?(@user) %>
      <a href="#" class="follow-button button">Unfollow</a>
    <% else %>
      <%= link_to "Follow", follow_url(screen_name: @user.screen_name), method: :post, class: "follow-button button" %>
    <% end %>
  <% end %>
</div>

<%= render "statuses/list", statuses: @user.statuses %>