<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="main-navigation">
    <div class="container">
      <ul class="left">
        <li><%= link_to "Flutter", "/", :class => "logo" %></li>
        <li><%= link_to "Home", "#" %></li>
      </ul>

      <ul class="right">
        <li><%= link_to "Sign Up", "#" %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="content-wrapper">
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
      <% end %>

      <div class="main-content">
        <%= yield %>
      </div>

      <aside class="sidebar">
        <%= yield(:sidebar) %>
      </aside>
    </div>
  </div>
</body>
</html>
